@using SistemaDeBilheteira.Services.Database.Entities
<div class="address">
    <div class="name">@Address.StreetLine1</div>
    <div class="name">@Address.StreetLine2!</div>
    <div>@Address.City, @Address.State, @Address.Country @Address.ZipCode</div>
    <div>
        <button @onclick="HandleDelete">Delete</button>
    </div>
</div>

@code {
    [Parameter] public Address Address { get; set; }
    [Parameter] public EventCallback Delete { get; set; }


    private void HandleDelete()
    {
        Delete.InvokeAsync();
    }
}