@page "/"
@using SistemaDeBilheteira.Services.Movies;

<PageTitle>Home</PageTitle>


<div class="movies-container">
    @if (movies != null && movies.Any())
    {
        @foreach (var movie in movies)
        {
            <div class="movie-card">
                <img src="@($"https://image.tmdb.org/t/p/w500{movie.PosterPath}")" alt="@movie.Title" />
                <div class="movie-info">
                    <h2>@movie.Title</h2>
                    <p class="overview">@movie.Overview</p>
                    <p class="rating"><strong>⭐ @movie.VoteAverage/10</strong></p>
                </div>
            </div>
        }
    }
    else
    {
        <p class="loading">Loading movies...</p>
    }
</div>


@code {
    List<Movie> movies = new();
    string APIlink = "https://api.themoviedb.org/3/movie/popular";

    protected override async Task OnInitializedAsync()
    {
        var deserializer = new MovieDeserializer();
        var response = await Task.Run(() => deserializer.FetchPopularMovies(APIlink));
        if (response?.Results != null)
        {
            movies = response.Results;
        }
    }
}