@page "/SelectType/{id:int}"
@rendermode InteractiveServer
@inherits AuthenticatedComponentBase
@using SistemaDeBilheteira.Services.API_Deserializer
@using SistemaDeBilheteira.Services.API_Deserializer.Deserializable.Models
@using SistemaDeBilheteira.Services.Database.Builders
@using SistemaDeBilheteira.Services.Database.Entities.ProductSystem.Rental
@using SistemaDeBilheteira.Services.Database.Entities.ProductSystem.Rental.RentalStates
@using SistemaDeBilheteira.Services.Database.Entities.ShoppingCart
@using SistemaDeBilheteira.Services.IService
@using SistemaDeBilheteira.Services.IService.ServiceManager
@using SistemaDeBilheteira.Services.UI

@inject IServiceManager ServiceManager
@inject RentalBuilder RentalBuilder
@inject ShoppingCartItemBuilder ShoppingCartItemBuilder
@inject NotificationService NotificationService


<div class="container">
    @if (Movie != null)
    {
        <section class="banner">
            <div class="banner-wrapper">
                <img src="@($"https://image.tmdb.org/t/p/w1280{Movie.BackdropPath}")" alt="@Movie.Title" class="banner-image" />
                <div class="banner-title-overlay">
                    <h2 class="banner-title">@Movie.Title</h2>
                    <p class="movie-overview">@Movie.Overview</p>
                </div> 
            </div>
            <div class="play-button-container">
                <img src="images/icons/MovieDescription/play.svg" alt="play" class="play-icon"/>
            </div>
        </section>

        <section class="movie-details">
            <div class="movie-details-wrapper">
                <div class="imdb-rating">
                    <p class="movie-release-date">IMDB @Math.Round(Movie!.VoteAverage, 1)</p>
                    <p class="movie-release-date">
                        @(Movie.ReleaseDate.HasValue ? Movie.ReleaseDate.Value.ToString("yyyy-MM-dd") : "Unknown") • PG12  • @FormatRuntime(Movie.Runtime)
                    </p>
                </div>

                <div class="genres-container">
                    @foreach (var genre in GenreNames)
                    {
                        <span class="genre-badge">@genre</span>
                    }
                </div>

                <div class="actions-container">
                    <div class="action-buttons">
                        <div class="watch-later-button">
                            <img src="images/icons/MovieDescription/add.svg" alt="Watch later" class="button-icon"/>
                            <p class="button-text">Watch Later</p>
                        </div>
                        <div class="share-button">
                            <img src="images/icons/MovieDescription/share.svg" alt="Share" class="button-icon"/>
                            <p class="button-text">Share</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="actions-container1">
                <div class="rent-buy-container">
                    <!-- Rent Button -->
                    <a class="secondary-button" @onclick="AddShoppingCartItem">
                        Rent<span class="text-sm font-normal"> HD @Rental?.Price €</span>
                    </a>

                    <!-- Buy Button + Dropdown -->
                    <div class="buy-button-wrapper" style="position: relative;">
                        <a @onclick="ToggleDropdown" class="secondary-button">
                            Buy
                        </a>

                        @if (ShowDropdown)
                        {
                            <div class="buy-dropdown show">
                                <div class="buy-dropdown-item">
                                    <div>
                                        Buy DVD<br />
                                        <span class="button-price">HD 12.99€</span>
                                    </div>
                                    <span>📀</span>
                                </div>
                                <div class="buy-dropdown-item">
                                    <div>
                                        Buy Blu-Ray<br />
                                        <span class="button-price">HD 12.99€</span>
                                    </div>
                                    <span>💿</span>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>

        </section>
    }
    else
    {
        <p class="loading">Loading movie details...</p>
    }
</div>

@code {
    [Parameter] public int Id { get; set; }
    private Movie? Movie { get; set; }
    private List<string> GenreNames { get; set; } = [];
    private bool ShowDropdown { get; set; }
    private Product? Rental { get; set; }
    private IService<Rental>? RentalService { get; set; }
    private IService<ShoppingCartItem>? ShoppingCartItemService { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        RentalService = ServiceManager.GetService<Rental>();
        ShoppingCartItemService = ServiceManager.GetService<ShoppingCartItem>();
        
        AddRental();

        Rental = RentalService.GetWithQuery(
            q => q.Where(
                r => r.MovieId == Id.ToString()
                ))!.FirstOrDefault();

        
        var movieDeserializer = new Deserializer<Movie>();
        
        var movieUrl = Environment.GetEnvironmentVariable("MOVIES_LINK");
        Movie = await movieDeserializer.Fetch($"{movieUrl}/{Id}")!;
    }

    private string FormatRuntime(int runtime)
    {
        var hours = runtime / 60;
        var minutes = runtime % 60;
        return $"{hours}h {minutes}m";
    }

    private void ToggleDropdown() => ShowDropdown = !ShowDropdown;

    private void AddRental()
    {
        var rentals = RentalService!.GetWithQuery(
            q => q.Where(
                r => r.MovieId == Id.ToString()
            ));
        
        
        if (rentals!.Any())
            return;

        var newRental = RentalBuilder.WithMovie(Id.ToString())
            .WithPrice(GeneratedPrice())
            .WithStartDate(DateTime.Now)
            .WithEndDate(DateTime.Now.AddDays(7))
            .WithState(new RequestedState())
            .Build();

        RentalService.Add(newRental);
    }

    private double GeneratedPrice() => 9.99;

    private void AddShoppingCartItem()
    {
        var item = ShoppingCartItemService!.GetWithQuery(
        q => q.Where(
            i => i.AppUserId == User!.Id && i.ProductId == Rental!.Id)
        )!.FirstOrDefault();

        if (item != null)
        {
            UpdateItem(item);
            NotificationService.Notify("Quantity Updated.");
        }
        else
        {
            AddItem();
            NotificationService.Notify("Product Added to Cart.");
        }
        StateHasChanged();

    }

    private void UpdateItem(ShoppingCartItem item)
    {
        item.Quantity++;
        ShoppingCartItemService!.Update(item);
    }

    private void AddItem()
    {
        if (Rental?.Id == null) return;

        var shoppingCartItem = ShoppingCartItemBuilder.WithAppUserId(User!.Id)
            .WithProductId(Rental.Id)
            .WithQuantity(1)
            .Build();

        ShoppingCartItemService!.Add(shoppingCartItem!);
    }

    
}
