@using SistemaDeBilheteira.Services.Database.Entities.ProductSystem.Rental
@using SistemaDeBilheteira.Services.API_Deserializer
@using SistemaDeBilheteira.Services.API_Deserializer.Deserializable.Models
@using SistemaDeBilheteira.Services.Database.Entities.PaymentSystem

<div class="element">
    <div class="flex">
        <img class="image" src="@PosterPath" alt="@MovieTitle"/>
        <div>
            <div class="flex information">
                <div class="title-type">
                    <div class="movie-title @IsExpiredCss">@MovieTitle</div>
                    <div class="rental">Rental</div>
                </div>
                
                <div class="flex">
                    <div class="total">Total</div>
                    <div class="price">@Currency @Purchase!.Amount.ToString("N2")</div>
                </div>
            </div>
            <div class="dates flex">
                <div class="initial date">Start Date: @Rental!.StartDate.ToString("dd/MM/yyyy")</div>
                <div class="date @IsExpiredCss">Expire Date: @Rental.EndDate.ToString("dd/MM/yyyy")</div>
                <div class="status">Status: @Rental.StateName</div>
            </div>
        </div>
    </div>
    
    @if (Rental.StateName != "Cancelled" && !IsExpired)
    {
        <button class="cancel-btn" @onclick="OnCancel">Cancel Rental</button>
    }
</div>

@code {
    [Parameter] public Rental? Rental { get; set; }
    [Parameter] public Purchase? Purchase { get; set; }
    [Parameter] public EventCallback OnCancel { get; set; }
    
    private string PosterPath { get; set; } = "https://image.tmdb.org/t/p/original";
    private string? MovieTitle { get; set; }
    private string Currency { get; } = "€";
    private bool IsExpired => DateTime.Now > Rental!.EndDate;
    private string IsExpiredCss => IsExpired ? "expired" : "";

    protected override async Task OnInitializedAsync()
    {
        await LoadMovieData();
    }

    private async Task LoadMovieData()
    {
        if (!string.IsNullOrEmpty(Rental!.MovieId))
        {
            var url = Environment.GetEnvironmentVariable("MOVIES_LINK");
            var deserializer = new Deserializer<Movie>();
            var movie = await deserializer.Fetch($"{url}/{Rental.MovieId}")!;
            
            if (movie != null)
            {
                MovieTitle = movie.Title!;
                PosterPath += movie.PosterPath;
            }
        }
    }
}